-current_user.groups.each do |group|
  = link_to group_messages_path(group), data: {"turbolinks" => false} do
    %div.sidemenu__group
      =group.name

    %div.sidemenu__chat
      =group.show_last_message
