$heavygraycolor:#999999;
$whitecolor:#FFFFFF;
$thinaiirocolor:#2f3e51;
$mizuirocolor:#38AEF0;
$aiirocolor:#253141;
$thingraycolor:#fafafa;
$heavybluecolor:#434A54;
$bordergray:#eeeeee;
$grayblackcolor:#333333;
$weakgraycolor:#ddd;
$alert_orange: #F35500;
